Options +FollowSymLinks
Options -Indexes 
DirectoryIndex index.html index.php 
RewriteEngine On 
RewriteCond $1 !^(index\.php|assets|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /CISALE/index.php/$1 [L,QSA]